@font-face { 
    font-family: "PressStart2P"; 
    src: url("PressStart2P-Regular.ttf");
} 

@font-face {
    font-family: "HyperSpace";
    src: url("HyperSpace.otf");
}

@keyframes moveRight{
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
}

body {
    background-color: pink;
}

.h_1 {
    font-family: "PressStart2P";
    font-size: 4em;
    font-weight: 100;
    color:rgb(253, 243, 155);
    text-shadow: 1px 1px 1px rgb(255, 171, 171),
                 2px 2px 1px rgb(255, 232, 232);
    animation-name: moveRight;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.h_2 {
    color:rgb(253, 243, 155);
    font-family: "PressStart2P";
    font-size: 2em;
    font-weight: 100;
    text-shadow: 1px 1px 1px rgb(255, 171, 171),
                 2px 2px 1px rgb(255, 232, 232);
}

.link1 {
    color: rgb(253, 243, 155);
    font-family: "PressStart2P";
    font-size: 1.5em;
    font-weight: 100;
    text-shadow: 1px 1px 1px rgb(255, 171, 171),
                 2px 2px 1px rgb(255, 232, 232);
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

.link1:hover, .link1:focus {
    color: #ffefef;
}

.toy {
    font-family: "HyperSpace";
    font-size: 2rem;
    color: aliceblue;
}

.image {
    object-fit: cover;
} 

.p1 {
    color: rgb(253, 243, 155);
    font-family: "PressStart2P";
    font-size: 2em;
    font-weight: 100;
    text-shadow: 1px 1px 1px rgb(255, 171, 171),
                 2px 2px 1px rgb(255, 232, 232);
}
