<!DOCTYPE html>
<html>
    {% extends "layout/basic.html" %}
    {% load static %}
    {% block content %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Yami Cart{% endblock %}</title>
        <link rel="stylesheet" hraf="{% static 'cart/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'cart/cart.css' %}">
    </head>
    <body>
        <h1 class="h_1">корзина</h1>
        <div class="container">
          <div class="row">
            {% for item in cart %}
              {% with t=item.toy %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                  <div class="block">
                    <a href="{{ t.get_absolute_url }}">
                      <img class="image" src="{% if t.image %} {{ t.image.url }} {% else %} {% static 'img/PUPA2.gif' %} {% endif %}" height="450" width="350">
                    </a>
                    <h2 class="h_2">{{ t.name }}</h2>
                    <p class="toy"><b>количество: {{ item.quantity }}</b></p>
                    <a class="link1" href="{% url 'cart:cart_remove' t.id %}">удалить</a>
                    <p class="toy"><b>цена за 1: {{ item.price }}$$$</b></p>
                    <p class="toy"><b>общая цена: {{ item.total_price }}$$$</b></p>
                  </div>
                </div>
              {% endwith %}
            {% endfor %}
          </div>
        </div>
        <p class="p1">общая сумма = {{ cart.get_total_price }}$$$</p>
    </body>
    {% endblock %}
</html>
